argon2==0.1.10
beautifulsoup4==4.13.4
chainlit==2.6.9
docker_py==1.10.6
duckduckgo_search==8.1.1
fastapi==0.116.1
fitz==0.0.1.dev2
httpx==0.28.1
numpy==2.3.2
ollama==0.5.3
pathspec==0.12.1
psutil==7.0.0
pydantic==2.11.7
pynvml==12.0.0
pysqlcipher3==1.2.0
Requests==2.32.4
sentence_transformers==5.1.0
starlette==0.47.2
sympy==1.14.0
uvicorn==0.35.0
